main {
  background-color: hsl(0, 0%, 100%);
  //   width: 56rem;
  //   max-width: 50%;
  width: min(56rem, 50%); // this is similar to the width options above
  border-radius: 1rem;
  padding: 1.5rem;

  .faq-header {
    display: flex;
    width: 25%;
    justify-content: space-between;
  }

  h1 {
    font-weight: 900;
  }
}
