main {
  background-color: hsl(0, 0%, 100%);
  //   width: 56rem;
  //   max-width: 50%;
  width: min(
    56rem,
    50%
  ); // this is similar to the width options above. It takes the minimum of the two values
  border-radius: 1rem;
  padding: 1.5rem;
  margin: auto 0;

  .faq-header {
    display: flex;
    width: 7rem;
    max-width: 25%;
    justify-content: space-between;
  }

  .header-icon {
    width: 1.5rem;
  }

  h1 {
    font-weight: 700;
  }
}
