section {
  border-bottom: 0.06rem solid hsl(0, 0%, 80%);

  .question {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-size: 1em;
    margin: auto 0;
    padding: 1.5rem 0;
    font-weight: 600;
  }

  .text {
    display: none;
  }

  .text.show {
    display: block;
    color: hsl(292, 16%, 49%);
  }

  .icon {
    cursor: pointer;
  }
}

//this css property selects the last div of type (section in this case) and removes the border-bottom
section:last-of-type {
  border-bottom: none;
}
